.main-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /*  position: relative; */
    /*  max-width:300px; */
    margin-bottom: 2rem;

}
.main-head h3{
    color:#fff;
   /*  left:50%; */
    
   
    text-align: center;
   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.main-input input{
    width:60%;
    height:2rem;
    margin-bottom: 1rem;
    padding: 5px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: none;
    /* border-left: 5px solid violet;
    border-radius: 3px; */
    outline: none;
    background: #333;
    color:#fff;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.750)
}
.main-input textarea{
    width:60%;
    height:3rem;
    margin-bottom: 1rem;
    padding: 5px;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: none;
   
    outline: none;
    background: #333;
    color:#fff;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.750)
}
.main-btn{
    margin-top: 1rem;
    background: transparent;
    border-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    color: rgba(238, 130, 238, 0.664);
    padding: .7rem;
    cursor: pointer;
 
}
.main-input input:focus{
    border-left: 5px solid violet;
    border-radius: 3px;
    transition:all .25s ease-in-out;
}
.main-input textarea:focus{
    border-left: 5px solid violet;
    border-radius: 3px;
    transition:all .25s ease-in-out;
}
.main-btn:hover{
    letter-spacing: 2px;
    background-color: purple;
    border-radius: 8px;
    font-size: .9rem;
    color: #fff;
    transition:all .3s ease-in-out;
}

.review-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:80%;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    /* max-width: 800px; */
    
}
.review-wrapper{
    width:50%;
    

}
.reviews{
    color: black;
    padding: 1.5rem;
    margin: 1rem;
    background-color: #fff;
    
    box-shadow:-1px 0px 1px 2px rgba(216, 151, 216, 0.452);
   
    border-radius: 4px;
   /*  width: 50%; */
    height: 100px;
}
.review-wrapper:hover{
    transform: scale(1.05);
    transition:  all 0.25s ease-out;
}
.rev-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.rev-head h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(8, 8, 8, 0.74);
}
.rev-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trash{
    color:rgba(19, 19, 19, 0.589);
    cursor: pointer;
    padding: 5px;
}
.trash:focus{
    color:red;
}
.edit{
    color:rgb(165, 40, 165);
    cursor: pointer;
    padding: 5px;
}
.inp-rev{
    outline: none;
    border: none;
}
.inp-rev::placeholder{
    color:rgb(80, 14, 94);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9rem;
    font-weight: 500;
}
input {
    color:rgb(80, 14, 94);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9rem;
    font-weight: 500;
}
@media only screen and (max-width:800px){
    .main-input input{
        width:80%
    }
    .main-input textarea{
        width:80%;
    }
    .review-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
    }
    .review-wrapper{
        width:90%;
    }
    .reviews{
        height: 100px;
    }
    .rev-head h3{
        font-size: 1rem;
    }
}
